@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html > * {
  cursor: default;
}

body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "lsidebar center rsidebar"
    "message message message"
    "input input input"
    "footer footer footer"
    "bottom bottom bottom";
  align-items: center;
  justify-items: center;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.rosco {
  grid-area: center;
  display: block;
  opacity: 0;
  position: relative;
  width: 23em;
  height: 23em;
  list-style: none;
  margin: 0;
  padding: 30px;
  transition: all 1s;
}

.rosco--play,
.rosco--ranking {
  opacity: 1;
}

.rosco--ranking {
  filter: blur(4px) grayscale(1);
}

.welcome {
  background: #ccc;
  background: linear-gradient(90deg, #ff31c4, #79fffa);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  grid-area: lsidebar / message;
  font-size: 4em;
  text-align: center;
  display: none;
  font-weight: bold;
}

.stats {
  grid-area: lsidebar;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.stats--play,
.stats--ranking {
  opacity: 1;
}

.stats--ranking {
  filter: blur(4px) grayscale(1);
}

.stats__countdown {
  box-shadow: 0 0 0 0 rgb(52 198 224);
  animation: pulse-blue 1s infinite;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #4cfeff;
  font-size: 1.4em;
  background-color: #002768;
  margin: 10px auto;
}

.stats__hits {
  color: #ffffff;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #ff0099;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #002768;
  margin: 10px auto;
}

.stats__player-name {
  font-size: 1.5em;
  color: #4cfeff;
  font-weight: bold;
  text-align: center;
}

.stats__game-id {
  text-align: center;
  padding-bottom: 15px;
  font-weight: 300;
  color: white;
}

.stats__game-id__number {
  font-weight: bold;
}

.welcome--start {
  display: block;
}

.rules {
  grid-area: lsidebar / bottom;
  color: white;
  text-align: center;
  font-weight: 200;
  display: none;
  padding: 0 80px;
  z-index: 1;
}

.rules--rules {
  display: block;
}

.rules__h1,
.ranking__h1 {
  color: #ff0099;
}

.rules__button {
  color: cyan;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px cyan solid;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2em;
  transition: all 0.4s;
}

.rules__button:hover {
  background-color: #00ffff29;
  cursor: pointer;
}

.rules__p__span {
  color: #ff0099;
  font-weight: bold;
}

.ranking {
  grid-area: rsidebar;
  font-size: 1em;
  text-align: center;
  display: none;
  color: #c5fbff;
}

.ranking__tableWrapper table {
  margin: 15px auto;
  border-collapse: collapse;
}

.ranking--ranking {
  display: block;
}

.footer__cheatsheet {
  opacity: 0;
  grid-area: footer;
  color: cyan;
  font-weight: 200;
  padding: 20px;
  font-size: 0.9em;
  transition: all 1s ease-in-out;
}

.footer__cheatsheet--play {
  opacity: 1;
}

.footer__copyright {
  grid-area: bottom;
  color: white;
  font-size: 0.7em;
  padding-top: 20px;
  font-weight: 300;
}

.rosco__letter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.05em;
  width: 2.1em;
  border: 2px solid #005eff;
  height: 2.1em;
  display: block;
  max-width: 100%;
  border-radius: 50%;
  text-align: center;
  line-height: 2.25em;
  background-color: transparent;
  color: white;
  transition: line-height 1s ease-in-out, font-size 1s ease-in-out, transform 1s ease-in-out, width 1s ease-in-out,
    height 1s ease-in-out, background-color 0.8s;
}

.rosco__letter:nth-of-type(1) {
  transform: rotate(270deg) translate(11.5em) rotate(-270deg);
}
.rosco__letter:nth-of-type(2) {
  transform: rotate(283.84615deg) translate(11.5em) rotate(-283.84615deg);
}
.rosco__letter:nth-of-type(3) {
  transform: rotate(297.69231deg) translate(11.5em) rotate(-297.69231deg);
}
.rosco__letter:nth-of-type(4) {
  transform: rotate(311.53846deg) translate(11.5em) rotate(-311.53846deg);
}
.rosco__letter:nth-of-type(5) {
  transform: rotate(325.38462deg) translate(11.5em) rotate(-325.38462deg);
}
.rosco__letter:nth-of-type(6) {
  transform: rotate(339.23077deg) translate(11.5em) rotate(-339.23077deg);
}
.rosco__letter:nth-of-type(7) {
  transform: rotate(353.07692deg) translate(11.5em) rotate(-353.07692deg);
}
.rosco__letter:nth-of-type(8) {
  transform: rotate(366.92308deg) translate(11.5em) rotate(-366.92308deg);
}
.rosco__letter:nth-of-type(9) {
  transform: rotate(380.76923deg) translate(11.5em) rotate(-380.76923deg);
}
.rosco__letter:nth-of-type(10) {
  transform: rotate(394.61538deg) translate(11.5em) rotate(-394.61538deg);
}
.rosco__letter:nth-of-type(11) {
  transform: rotate(408.46154deg) translate(11.5em) rotate(-408.46154deg);
}
.rosco__letter:nth-of-type(12) {
  transform: rotate(422.30769deg) translate(11.5em) rotate(-422.30769deg);
}
.rosco__letter:nth-of-type(13) {
  transform: rotate(436.15385deg) translate(11.5em) rotate(-436.15385deg);
}
.rosco__letter:nth-of-type(14) {
  transform: rotate(450deg) translate(11.5em) rotate(-450deg);
}
.rosco__letter:nth-of-type(15) {
  transform: rotate(463.84615deg) translate(11.5em) rotate(-463.84615deg);
}
.rosco__letter:nth-of-type(16) {
  transform: rotate(477.69231deg) translate(11.5em) rotate(-477.69231deg);
}
.rosco__letter:nth-of-type(17) {
  transform: rotate(491.53846deg) translate(11.5em) rotate(-491.53846deg);
}
.rosco__letter:nth-of-type(18) {
  transform: rotate(505.38462deg) translate(11.5em) rotate(-505.38462deg);
}
.rosco__letter:nth-of-type(19) {
  transform: rotate(519.23077deg) translate(11.5em) rotate(-519.23077deg);
}
.rosco__letter:nth-of-type(20) {
  transform: rotate(533.07692deg) translate(11.5em) rotate(-533.07692deg);
}
.rosco__letter:nth-of-type(21) {
  transform: rotate(546.92308deg) translate(11.5em) rotate(-546.92308deg);
}
.rosco__letter:nth-of-type(22) {
  transform: rotate(560.76923deg) translate(11.5em) rotate(-560.76923deg);
}
.rosco__letter:nth-of-type(23) {
  transform: rotate(574.61538deg) translate(11.5em) rotate(-574.61538deg);
}
.rosco__letter:nth-of-type(24) {
  transform: rotate(588.46154deg) translate(11.5em) rotate(-588.46154deg);
}
.rosco__letter:nth-of-type(25) {
  transform: rotate(602.30769deg) translate(11.5em) rotate(-602.30769deg);
}
.rosco__letter:nth-of-type(26) {
  transform: rotate(616.15385deg) translate(11.5em) rotate(-616.15385deg);
}

.rosco__letter--current {
  transform: translate(-0.4em, -0.4em) !important;
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-size: 2.5em;
  border: 2px solid cyan;
  color: cyan;
  box-shadow: 0 0 0 0 rgba(52, 198, 224, 1);
  animation: pulse-blue 2s infinite;
  font-weight: 400;
}

.rosco__letter--correct {
  background-color: #004e00;
  border-color: #31c500;
}

.rosco__letter--incorrect {
  background-color: #4e0000;
  border-color: red;
}

.rosco__letter--pasapalabra {
  background: #00389b;
}

.message-wrapper {
  grid-area: message;
  opacity: 0;
  font-size: 1.3em;
  font-weight: 300;
  color: white;
  padding: 20px;
  text-align: center;
  transition: all 1s;
}

.message-wrapper--start {
  opacity: 1;
  font-size: 1.4em;
}
.message-wrapper--play {
  opacity: 1;
  font-size: 1.6em;
}

.message-wrapper--ranking {
  opacity: 1;
  font-size: 1.6em;
}

.answer-input {
  grid-area: input;
  opacity: 0;
  display: block;
  outline: none;
  border: 3px solid #ff0099;
  border-radius: 15px;
  background: transparent;
  height: 2em;
  margin: 0;
  transition: all 1s;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

.answer-input--start {
  opacity: 1;
  font-size: 2em;
}
.answer-input--play {
  opacity: 1;
  font-size: 2.5em;
}

.errors-wrapper {
  grid-area: rsidebar;
  color: white;
  background: #00000045;
  border: 2px solid #00d9ff;
  padding: 20px;
  border-radius: 30px;
  opacity: 0;
  text-align: center;
  transition: all 1s ease-in-out;
  font-size: 1.2em;
}

.errors-wrapper--show {
  opacity: 1;
}

.trow--user {
  background-color: #ff0099d9;
  font-size: 1.2em;
  color: white;
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 198, 224, 0.735);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(52, 198, 224, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 198, 224, 0);
  }
}

.stats__hits--bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#stars2 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1254px 1193px #fff, 568px 393px #fff, 513px 1133px #fff, 1089px 666px #fff, 1651px 1642px #fff,
    1431px 942px #fff, 729px 1324px #fff, 670px 818px #fff, 404px 1278px #fff, 1930px 738px #fff, 366px 761px #fff,
    1303px 368px #fff, 1331px 213px #fff, 995px 619px #fff, 147px 1480px #fff, 45px 209px #fff, 673px 1433px #fff,
    1px 1355px #fff, 946px 1625px #fff, 112px 1583px #fff, 1284px 519px #fff, 145px 1604px #fff, 910px 946px #fff,
    1967px 1910px #fff, 1602px 1531px #fff, 531px 329px #fff, 1103px 1287px #fff, 862px 1965px #fff, 852px 493px #fff,
    1609px 1446px #fff, 110px 753px #fff, 1658px 102px #fff, 1465px 1115px #fff, 1928px 1190px #fff, 613px 1472px #fff,
    1915px 238px #fff, 609px 1428px #fff, 1253px 1851px #fff, 1523px 930px #fff, 74px 1245px #fff, 348px 384px #fff,
    122px 592px #fff, 1468px 1778px #fff, 1600px 1362px #fff, 1331px 46px #fff, 1657px 355px #fff, 213px 895px #fff,
    966px 994px #fff, 818px 1094px #fff, 512px 556px #fff, 1462px 496px #fff, 687px 1361px #fff, 1164px 376px #fff,
    74px 1066px #fff, 135px 3px #fff, 1658px 435px #fff, 539px 1620px #fff, 1650px 1811px #fff, 161px 930px #fff,
    1674px 1116px #fff, 520px 74px #fff, 575px 223px #fff, 871px 435px #fff, 1975px 951px #fff, 1429px 1469px #fff,
    668px 878px #fff, 753px 885px #fff, 1986px 733px #fff, 828px 1983px #fff, 1828px 161px #fff, 388px 1505px #fff,
    1553px 1819px #fff, 1226px 1707px #fff, 1159px 1034px #fff, 1532px 155px #fff, 419px 1967px #fff, 374px 1828px #fff,
    736px 1679px #fff, 1928px 932px #fff, 1936px 607px #fff, 80px 703px #fff, 1675px 1499px #fff, 1662px 1045px #fff,
    224px 1749px #fff, 237px 1564px #fff, 795px 141px #fff, 1891px 467px #fff, 7px 247px #fff, 1370px 977px #fff,
    1483px 294px #fff, 532px 1442px #fff, 459px 927px #fff, 958px 999px #fff, 1199px 1726px #fff, 164px 1701px #fff,
    86px 962px #fff, 1923px 397px #fff, 1422px 841px #fff, 881px 572px #fff, 1633px 1214px #fff, 1698px 816px #fff,
    155px 1484px #fff, 90px 1946px #fff, 991px 1639px #fff, 1347px 1027px #fff, 341px 1166px #fff, 998px 16px #fff,
    405px 1924px #fff, 1123px 202px #fff, 575px 1898px #fff, 1241px 1003px #fff, 1199px 1176px #fff, 55px 1546px #fff,
    1093px 1857px #fff, 203px 329px #fff, 379px 1846px #fff, 734px 1180px #fff, 847px 471px #fff, 1628px 1870px #fff,
    500px 128px #fff, 284px 1605px #fff, 1201px 1889px #fff, 1869px 529px #fff, 1323px 1457px #fff, 1251px 703px #fff,
    65px 1226px #fff, 1001px 1134px #fff, 1653px 133px #fff, 485px 351px #fff, 1740px 1328px #fff, 964px 445px #fff,
    1519px 1368px #fff, 123px 1804px #fff, 182px 137px #fff, 1030px 407px #fff, 78px 245px #fff, 884px 1789px #fff,
    1934px 1945px #fff, 52px 1403px #fff, 138px 844px #fff, 1023px 446px #fff, 1126px 603px #fff, 1061px 1464px #fff,
    319px 192px #fff, 1053px 428px #fff, 662px 1392px #fff, 292px 100px #fff, 1071px 286px #fff, 1708px 1621px #fff,
    1208px 4px #fff, 16px 610px #fff, 851px 945px #fff, 1594px 1799px #fff, 1808px 1063px #fff, 559px 1109px #fff,
    1631px 242px #fff, 115px 471px #fff, 1844px 301px #fff, 132px 1792px #fff, 1640px 603px #fff, 1989px 756px #fff,
    1003px 1695px #fff, 1753px 1839px #fff, 1129px 1965px #fff, 465px 680px #fff, 158px 117px #fff, 378px 710px #fff,
    1376px 1804px #fff, 704px 1357px #fff, 1970px 1146px #fff, 921px 475px #fff, 1154px 183px #fff, 15px 364px #fff,
    1884px 209px #fff, 771px 1634px #fff, 106px 249px #fff, 1982px 1145px #fff, 1708px 390px #fff, 1750px 1086px #fff,
    1958px 775px #fff, 1874px 370px #fff, 5px 225px #fff, 485px 1338px #fff, 877px 254px #fff, 976px 1601px #fff,
    1238px 741px #fff, 1575px 114px #fff, 199px 976px #fff, 133px 1755px #fff, 1042px 1378px #fff, 41px 1963px #fff,
    1544px 889px #fff, 452px 437px #fff, 152px 1310px #fff, 694px 558px #fff, 373px 286px #fff, 1844px 1604px #fff,
    162px 864px #fff, 1613px 101px #fff, 411px 1590px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1254px 1193px #fff, 568px 393px #fff, 513px 1133px #fff, 1089px 666px #fff, 1651px 1642px #fff,
    1431px 942px #fff, 729px 1324px #fff, 670px 818px #fff, 404px 1278px #fff, 1930px 738px #fff, 366px 761px #fff,
    1303px 368px #fff, 1331px 213px #fff, 995px 619px #fff, 147px 1480px #fff, 45px 209px #fff, 673px 1433px #fff,
    1px 1355px #fff, 946px 1625px #fff, 112px 1583px #fff, 1284px 519px #fff, 145px 1604px #fff, 910px 946px #fff,
    1967px 1910px #fff, 1602px 1531px #fff, 531px 329px #fff, 1103px 1287px #fff, 862px 1965px #fff, 852px 493px #fff,
    1609px 1446px #fff, 110px 753px #fff, 1658px 102px #fff, 1465px 1115px #fff, 1928px 1190px #fff, 613px 1472px #fff,
    1915px 238px #fff, 609px 1428px #fff, 1253px 1851px #fff, 1523px 930px #fff, 74px 1245px #fff, 348px 384px #fff,
    122px 592px #fff, 1468px 1778px #fff, 1600px 1362px #fff, 1331px 46px #fff, 1657px 355px #fff, 213px 895px #fff,
    966px 994px #fff, 818px 1094px #fff, 512px 556px #fff, 1462px 496px #fff, 687px 1361px #fff, 1164px 376px #fff,
    74px 1066px #fff, 135px 3px #fff, 1658px 435px #fff, 539px 1620px #fff, 1650px 1811px #fff, 161px 930px #fff,
    1674px 1116px #fff, 520px 74px #fff, 575px 223px #fff, 871px 435px #fff, 1975px 951px #fff, 1429px 1469px #fff,
    668px 878px #fff, 753px 885px #fff, 1986px 733px #fff, 828px 1983px #fff, 1828px 161px #fff, 388px 1505px #fff,
    1553px 1819px #fff, 1226px 1707px #fff, 1159px 1034px #fff, 1532px 155px #fff, 419px 1967px #fff, 374px 1828px #fff,
    736px 1679px #fff, 1928px 932px #fff, 1936px 607px #fff, 80px 703px #fff, 1675px 1499px #fff, 1662px 1045px #fff,
    224px 1749px #fff, 237px 1564px #fff, 795px 141px #fff, 1891px 467px #fff, 7px 247px #fff, 1370px 977px #fff,
    1483px 294px #fff, 532px 1442px #fff, 459px 927px #fff, 958px 999px #fff, 1199px 1726px #fff, 164px 1701px #fff,
    86px 962px #fff, 1923px 397px #fff, 1422px 841px #fff, 881px 572px #fff, 1633px 1214px #fff, 1698px 816px #fff,
    155px 1484px #fff, 90px 1946px #fff, 991px 1639px #fff, 1347px 1027px #fff, 341px 1166px #fff, 998px 16px #fff,
    405px 1924px #fff, 1123px 202px #fff, 575px 1898px #fff, 1241px 1003px #fff, 1199px 1176px #fff, 55px 1546px #fff,
    1093px 1857px #fff, 203px 329px #fff, 379px 1846px #fff, 734px 1180px #fff, 847px 471px #fff, 1628px 1870px #fff,
    500px 128px #fff, 284px 1605px #fff, 1201px 1889px #fff, 1869px 529px #fff, 1323px 1457px #fff, 1251px 703px #fff,
    65px 1226px #fff, 1001px 1134px #fff, 1653px 133px #fff, 485px 351px #fff, 1740px 1328px #fff, 964px 445px #fff,
    1519px 1368px #fff, 123px 1804px #fff, 182px 137px #fff, 1030px 407px #fff, 78px 245px #fff, 884px 1789px #fff,
    1934px 1945px #fff, 52px 1403px #fff, 138px 844px #fff, 1023px 446px #fff, 1126px 603px #fff, 1061px 1464px #fff,
    319px 192px #fff, 1053px 428px #fff, 662px 1392px #fff, 292px 100px #fff, 1071px 286px #fff, 1708px 1621px #fff,
    1208px 4px #fff, 16px 610px #fff, 851px 945px #fff, 1594px 1799px #fff, 1808px 1063px #fff, 559px 1109px #fff,
    1631px 242px #fff, 115px 471px #fff, 1844px 301px #fff, 132px 1792px #fff, 1640px 603px #fff, 1989px 756px #fff,
    1003px 1695px #fff, 1753px 1839px #fff, 1129px 1965px #fff, 465px 680px #fff, 158px 117px #fff, 378px 710px #fff,
    1376px 1804px #fff, 704px 1357px #fff, 1970px 1146px #fff, 921px 475px #fff, 1154px 183px #fff, 15px 364px #fff,
    1884px 209px #fff, 771px 1634px #fff, 106px 249px #fff, 1982px 1145px #fff, 1708px 390px #fff, 1750px 1086px #fff,
    1958px 775px #fff, 1874px 370px #fff, 5px 225px #fff, 485px 1338px #fff, 877px 254px #fff, 976px 1601px #fff,
    1238px 741px #fff, 1575px 114px #fff, 199px 976px #fff, 133px 1755px #fff, 1042px 1378px #fff, 41px 1963px #fff,
    1544px 889px #fff, 452px 437px #fff, 152px 1310px #fff, 694px 558px #fff, 373px 286px #fff, 1844px 1604px #fff,
    162px 864px #fff, 1613px 101px #fff, 411px 1590px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1043px 1215px #fff, 1556px 1720px #fff, 1818px 1430px #fff, 1801px 1708px #fff, 1107px 1779px #fff,
    1732px 720px #fff, 1906px 676px #fff, 1146px 1142px #fff, 1242px 952px #fff, 380px 77px #fff, 607px 1848px #fff,
    904px 846px #fff, 1586px 1541px #fff, 751px 1870px #fff, 1622px 935px #fff, 71px 1539px #fff, 1534px 1770px #fff,
    1351px 648px #fff, 1561px 1545px #fff, 1202px 1345px #fff, 1104px 245px #fff, 1545px 1710px #fff, 814px 135px #fff,
    1442px 1027px #fff, 884px 392px #fff, 829px 1552px #fff, 1842px 1929px #fff, 656px 1639px #fff, 3px 1761px #fff,
    1602px 482px #fff, 1310px 1973px #fff, 1936px 896px #fff, 32px 948px #fff, 1151px 573px #fff, 1181px 1248px #fff,
    1px 541px #fff, 164px 559px #fff, 469px 1339px #fff, 687px 1183px #fff, 700px 692px #fff, 419px 1423px #fff,
    1911px 1068px #fff, 885px 397px #fff, 1656px 1265px #fff, 1088px 410px #fff, 531px 580px #fff, 1572px 163px #fff,
    583px 1599px #fff, 1920px 57px #fff, 220px 1693px #fff, 1447px 1000px #fff, 844px 994px #fff, 1189px 214px #fff,
    1840px 1906px #fff, 609px 1033px #fff, 51px 1664px #fff, 376px 1146px #fff, 1396px 1770px #fff, 1533px 1085px #fff,
    177px 1200px #fff, 1578px 1342px #fff, 1838px 1088px #fff, 337px 584px #fff, 341px 97px #fff, 1950px 627px #fff,
    1712px 870px #fff, 1256px 177px #fff, 1496px 1681px #fff, 581px 31px #fff, 1060px 303px #fff, 494px 1147px #fff,
    137px 1909px #fff, 188px 1909px #fff, 1692px 1874px #fff, 665px 1887px #fff, 1912px 1479px #fff, 1659px 1468px #fff,
    1771px 986px #fff, 1486px 1201px #fff, 1677px 1833px #fff, 1171px 1082px #fff, 1324px 714px #fff, 305px 1039px #fff,
    898px 212px #fff, 473px 387px #fff, 138px 141px #fff, 316px 761px #fff, 1943px 1166px #fff, 1163px 809px #fff,
    293px 590px #fff, 1488px 592px #fff, 1207px 1888px #fff, 652px 1574px #fff, 702px 1598px #fff, 1850px 1521px #fff,
    283px 1368px #fff, 1591px 526px #fff, 1000px 1206px #fff, 420px 877px #fff, 1846px 816px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1043px 1215px #fff, 1556px 1720px #fff, 1818px 1430px #fff, 1801px 1708px #fff, 1107px 1779px #fff,
    1732px 720px #fff, 1906px 676px #fff, 1146px 1142px #fff, 1242px 952px #fff, 380px 77px #fff, 607px 1848px #fff,
    904px 846px #fff, 1586px 1541px #fff, 751px 1870px #fff, 1622px 935px #fff, 71px 1539px #fff, 1534px 1770px #fff,
    1351px 648px #fff, 1561px 1545px #fff, 1202px 1345px #fff, 1104px 245px #fff, 1545px 1710px #fff, 814px 135px #fff,
    1442px 1027px #fff, 884px 392px #fff, 829px 1552px #fff, 1842px 1929px #fff, 656px 1639px #fff, 3px 1761px #fff,
    1602px 482px #fff, 1310px 1973px #fff, 1936px 896px #fff, 32px 948px #fff, 1151px 573px #fff, 1181px 1248px #fff,
    1px 541px #fff, 164px 559px #fff, 469px 1339px #fff, 687px 1183px #fff, 700px 692px #fff, 419px 1423px #fff,
    1911px 1068px #fff, 885px 397px #fff, 1656px 1265px #fff, 1088px 410px #fff, 531px 580px #fff, 1572px 163px #fff,
    583px 1599px #fff, 1920px 57px #fff, 220px 1693px #fff, 1447px 1000px #fff, 844px 994px #fff, 1189px 214px #fff,
    1840px 1906px #fff, 609px 1033px #fff, 51px 1664px #fff, 376px 1146px #fff, 1396px 1770px #fff, 1533px 1085px #fff,
    177px 1200px #fff, 1578px 1342px #fff, 1838px 1088px #fff, 337px 584px #fff, 341px 97px #fff, 1950px 627px #fff,
    1712px 870px #fff, 1256px 177px #fff, 1496px 1681px #fff, 581px 31px #fff, 1060px 303px #fff, 494px 1147px #fff,
    137px 1909px #fff, 188px 1909px #fff, 1692px 1874px #fff, 665px 1887px #fff, 1912px 1479px #fff, 1659px 1468px #fff,
    1771px 986px #fff, 1486px 1201px #fff, 1677px 1833px #fff, 1171px 1082px #fff, 1324px 714px #fff, 305px 1039px #fff,
    898px 212px #fff, 473px 387px #fff, 138px 141px #fff, 316px 761px #fff, 1943px 1166px #fff, 1163px 809px #fff,
    293px 590px #fff, 1488px 592px #fff, 1207px 1888px #fff, 652px 1574px #fff, 702px 1598px #fff, 1850px 1521px #fff,
    283px 1368px #fff, 1591px 526px #fff, 1000px 1206px #fff, 420px 877px #fff, 1846px 816px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
